.DS_Store
*.pyc
*.egg-info
*.swp
.idea/
tags
node_modules
__pycache__

frappe_pywce/www/*.html
frappe_pywce/www/**/*.html

# keep important files
!frappe_pywce/www/whatsapp-bot-login.html


frappe_pywce/public/studio/
frappe_pywce/public/builder/
frappe_pywce/public/emulator/
lib/pywce/
